#tweets-container .tweet-container {
  border: solid #ccc thin;
  border-radius: 10px;
  margin: 2em;
  opacity: 0.75; }

#tweets-container .tweet-header {
  height: 80px;
  background-color: #eee;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }

#tweets-container .profile-pic {
  height: 60px;
  width: 60px;
  float: left;
  /*new*/ }

#tweets-container .profile-name {
  margin: 0 0 0 1em;
  vertical-align: top;
  display: inline-block; }

#tweets-container .profile-handle {
  float: right; }

#tweets-container section {
  opacity: 1;
  padding: 10px;
  min-height: 100px;
  /*NEW - changed from height to min-height*/
  line-height: 80px;
  /*must be height - 2 * padding*/
  /*for vertical align*/ }

#tweets-container section p {
  margin: 0;
  font-size: 1.2em;
  word-break: break-word;
  display: inline-block;
  /*for vertical align*/
  vertical-align: middle;
  /*for vertical align*/
  /*why is this so hard?*/
  line-height: normal;
  /*for vertical align*/ }

#tweets-container .tweet-footer {
  opacity: 1;
  padding: 10px;
  height: 40px;
  border-top: solid #ccc thin; }

#tweets-container .tweet-actions {
  float: right;
  opacity: 0.3; }
  #tweets-container .tweet-actions p {
    display: inline; }

#tweets-container .tweet-container:hover .tweet-actions {
  opacity: 1; }

#tweets-container .tweet-container:hover {
  opacity: 1;
  border-color: #999; }
